---
title: EDU 확인
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: HT
ms.contentlocale: ko-KR
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814378"
---
# <a name="edu-verification"></a><span data-ttu-id="92a82-102">EDU 확인</span><span class="sxs-lookup"><span data-stu-id="92a82-102">EDU verification</span></span>

<span data-ttu-id="92a82-103">대부분의 경우 교육 기관 자격 요청은 24~48시간 내에 처리됩니다.</span><span class="sxs-lookup"><span data-stu-id="92a82-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="92a82-104">일부 요청의 경우 더 철저한 검토가 필요하며 최대 10영업일이 걸릴 수 있습니다.</span><span class="sxs-lookup"><span data-stu-id="92a82-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="92a82-105">작업이 완료되면 학교 자격 상태가 포함된 전자 메일이 전송됩니다.</span><span class="sxs-lookup"><span data-stu-id="92a82-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="92a82-106">**중요** 도메인을 입력하기 전에 확인 마법사를 종료한 경우, 평가판을 사용하는 동안 언제든지 [학생 확인 마법사를 다시 시작](https://go.microsoft.com/fwlink/p/?linkid=2135255)할 수 있습니다.</span><span class="sxs-lookup"><span data-stu-id="92a82-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="92a82-107">도메인 상태를 확인하려면 [Microsoft 365 관리 센터](https://go.microsoft.com/fwlink/p/?linkid=2024339)로 이동합니다.</span><span class="sxs-lookup"><span data-stu-id="92a82-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="92a82-108">홈 페이지에서 아래쪽으로 스크롤한 다음 **결제** 카드 찾습니다.</span><span class="sxs-lookup"><span data-stu-id="92a82-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="92a82-109">**결제** 카드에는 인증 프로세스의 상태(승인됨, 보류, 거절 또는 도메인 추가)가 표시됩니다.</span><span class="sxs-lookup"><span data-stu-id="92a82-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="92a82-110">요청이 거부된 경우에는 [내 학교가 적격 하지 않습니다. 무엇을 하나요?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)를 참조하세요.</span><span class="sxs-lookup"><span data-stu-id="92a82-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>