---
title: EDU 확인
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: ko-KR
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205273"
---
# <a name="edu-verification"></a>EDU 확인

대부분의 경우 교육 기관 자격 요청은 24~48시간 내에 처리됩니다. 일부 요청의 경우 더 철저한 검토가 필요하며 최대 10영업일이 걸릴 수 있습니다. 작업이 완료되면 학교 자격 상태가 포함된 전자 메일이 전송됩니다.

**중요** 도메인을 입력하기 전에 확인 마법사를 종료한 경우, 평가판을 사용하는 동안 언제든지 [학생 확인 마법사를 다시 시작](https://go.microsoft.com/fwlink/p/?linkid=2135255)할 수 있습니다.

도메인 상태를 확인하려면 [Microsoft 365 관리 센터](https://go.microsoft.com/fwlink/p/?linkid=2024339)로 이동합니다. 홈 페이지에서 아래쪽으로 스크롤한 다음 **결제** 카드 찾습니다. **결제** 카드에는 인증 프로세스의 상태(승인됨, 보류, 거절 또는 도메인 추가)가 표시됩니다.

요청이 거부된 경우에는 [내 학교가 적격 하지 않습니다. 무엇을 하나요?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)를 참조하세요.