---
title: 8000038 GDPR 하위 계정 확인
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: ko-KR
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057000"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft 계정에 표시되는 생년월일이 잘못되었습니다.

Microsoft는 계정 보안을 매우 심각하게 고려합니다. 최근에 자녀의 Microsoft 계정에 대해 부모 동의를 제공하라는 메시지가 표시될 수 있습니다. 부모 동의를 제공하거나 Microsoft 계정에서 생년월일을 업데이트하는 데 도움이 필요한 경우 부모 동의에 대한 연령 [확인을 참조하세요.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
부모 동의 및 [Microsoft 자식 계정에 대해 자세히 알아보시다.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  