---
title: 8000038 GDPR 하위 계정 확인
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: ko-KR
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707969"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft 계정에 표시 된 생년월일이 잘못 되었습니다.

Microsoft는 계정 보안을 매우 심각 하 게 받아들입니다. 최근 자녀의 Microsoft 계정에 대 한 자녀 보호 동의를 제공 하 라는 메시지가 표시 되었을 수 있습니다. 보호자 동의를 제공 하거나 Microsoft 계정에서 생년월일을 업데이트 하는 데 도움이 필요한 경우 [에는 보존 기간 확인](https://go.microsoft.com/fwlink/p/?linkid=874364)을 참조 하십시오.
  
[보호자 통제 및 Microsoft 자녀 계정](https://go.microsoft.com/fwlink/p/?linkid=874365)에 대해 자세히 알아보세요.
  