---
title: 게시자 확인 문제 해결
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: ko-KR
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875398"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="3d545-102">개발자를 위한 게시자 확인과 관련된 문제</span><span class="sxs-lookup"><span data-stu-id="3d545-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="3d545-103">**다음 권장 단계**</span><span class="sxs-lookup"><span data-stu-id="3d545-103">**Recommended steps**</span></span> 

<span data-ttu-id="3d545-104">게시자 확인과 관련된 문제를 해결하고 다음 단계를 수행합니다.</span><span class="sxs-lookup"><span data-stu-id="3d545-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="3d545-105">모든 요구 사항이 충족되도록 사전 요구 사항 및 기타 요구 사항을 검토합니다.</span><span class="sxs-lookup"><span data-stu-id="3d545-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="3d545-106">지침을 검토하여 [앱을 확인된 게시자로 표시](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified)하고 모든 단계가 성공적으로 수행되도록 합니다.</span><span class="sxs-lookup"><span data-stu-id="3d545-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="3d545-107">[일반적인 문제](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) 목록을 검토하고 이러한 목록에 문제가 있는 경우 권장 단계를 따릅니다.</span><span class="sxs-lookup"><span data-stu-id="3d545-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="3d545-108">[그래프 탐색기](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls)를 사용하여 요청을 재현하여 추가 정보를 수집하고 UI의 모든 문제를 배제합니다.</span><span class="sxs-lookup"><span data-stu-id="3d545-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="3d545-109">**추천 문서**</span><span class="sxs-lookup"><span data-stu-id="3d545-109">**Recommended documents**</span></span>

- [<span data-ttu-id="3d545-110">게시자 확인 - 개요</span><span class="sxs-lookup"><span data-stu-id="3d545-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="3d545-111">앱을 게시자 확인으로 표시</span><span class="sxs-lookup"><span data-stu-id="3d545-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="3d545-112">게시자 확인 문제 해결</span><span class="sxs-lookup"><span data-stu-id="3d545-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

